.titulo {
    color: rgb(50, 57, 150); 
}

.titulo-menu {
    font-size: 24px;
    text-transform: uppercase;
}

.elemento {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
}

.opciones {
    margin: 10px;
    padding: 10px;
    border: 1px solid; 
}

.inputCantidad {
    margin: 10px;
    font-size: 15px;
    border: 1px solid;
}